<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <header>
    <h1>ChatPal</h1>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('private_chat') }}">Private Chat</a></li>
        <li><a href="{{ url_for('logout') }}">Logout</a></li>
         <li><a href="{{ url_for('received_messages') }}">Messages Recieved</a></li>
      </ul>
    </nav>
  </header>
  
  <main>
    {% block content %}{% endblock %}
  </main>
  
  <footer>
    <p>© 2023 My App. All rights reserved.</p>
  </footer>
</body>
</html>
